/* General Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
}

header {
  background-color: white;
}
.nav-menu li {
  list-style: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24em;
}
a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}
.dc {
  color: rgb(74, 123, 158);
}
.navbar {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.nav-menu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.nav-link {
  transition: 0.7s ease;
  text-decoration: none;
}
.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: rgb(67, 118, 153);
}
.nav-link:hover {
  color: rgb(67, 118, 153);
}

/* Dropdown menu */
.dropdown {
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0%;
  right: 100%;
  list-style: none;
  padding: 10px 0;
  min-width: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.dropdown-menu .dropdown-item {
  padding: 10px 20px;
  text-align: left;
}
.dropdown-menu .dropdown-item a {
  color: black;
  display: block;
  transition: color 0.3s ease;
}
.dropdown-menu .dropdown-item a:hover {
  color: rgb(67, 118, 153);
}
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bar {
  width: 25px;
  height: 3px;
  margin: 3px;
  background-color: black;
  transition: 0.3s ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  background-color: #fff; /* Light blue background */
}

/* Hero section styling */
.hero {
  background-color: rgb(238, 244, 251); /* Light blue background */
  width: 100%;
  max-width: 1200px;
  padding: 0 0 0 0;

  height: auto;
}

/* Flexbox layout for hero content */
.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

/* Image styling */
.hero-image {
  flex: 0 0 65%;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* Text styling */
.hero-text {
  flex: 0 0 35%;
  font-family: "Playfair Display", serif;
  text-align: left;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #151515;
  font-weight: 400;
  margin: 0px auto 16px;
  line-height: 57.6px;
  letter-spacing: 1.104px;
  font-stretch: 100%;
  vertical-align: baseline;
  overflow-wrap: break-word;
}

/* Contact section styling */
.contact-section {
  margin: 50px 0;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "open sans", arial, sans-serif;
}

.contact-container {
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.contact-container h2 {
  line-height: 27.5px;
  letter-spacing: 0.99px;
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 22px;
  color: #1b1b1b;
  margin-bottom: 20px;
}

.contact-container p {
  margin: 0 0 24px;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 15px;
  color: #5e5e5e;
}

.contact-container a {
  color: #4a7b9e;
  line-height: 24px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
}
.contact-container a:hover {
  color: rgb(43, 74, 95);
}

.cta-button {
  text-transform: uppercase;
  align-items: center;
  border-style: none;
  cursor: pointer;
  display: inline-flex;
  min-height: 56px;
  padding: 8px 32px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  background-color: #578db3;
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 0.214em;
  font-family: "open sans", sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.cta-button:hover {
  background-color: rgb(105, 168, 213);
  transform: scale(1.1); /* Zoom in */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow */
}
/* Form Section */
.form-section {
  display: none; /* Initially hidden */
  padding: 50px;
  margin-top: 20px;
  max-width: 800px; /* Wider Section */
  width: 100%;
  font-family: "open sans", sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  color: #1b1b1b;
  font-weight: 400;
  letter-spacing: 0.99px;
  word-spacing: 0px;
  margin: 0px 0px 24px;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-group input,
.form-group textarea {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  font-size: 16px;
  border: 1px solid transparent; /* No border initially */
  border-bottom: 1px solid #ccc; /* Thin Bottom Line initially */
  background-color: transparent;
  outline: none;
  transition: border 0.3s ease;
  font-weight: 400;
}

.gray {
  color: #888; /* Dark Gray Placeholder */
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #636363; /* Dark Gray Placeholder */
}

/* Attachments Section */
.attachments {
  display: flex;
  align-items: center;
  margin: 30px 0px;
}

.attachment-status {
  margin-right: 10px;
  font-size: 1rem;
  color: #888;
}

.add-attachment {
  font-size: 1rem;
  color: #0073e6;
  text-decoration: underline;
  cursor: pointer;
}

.add-attachment:hover {
  color: #005bb5;
}
/* Full box with black border on focus */
.form-group input:focus,
.form-group textarea:focus {
  border: 1px solid black; /* Full black border on focus */
  background-color: white; /* Full white background when focused */
}

textarea {
  resize: none;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-btn,
.cancel-btn {
  text-transform: uppercase;
  align-items: center;
  border-style: none;
  cursor: pointer;
  display: inline-flex;
  min-height: 56px;
  padding: 8px 32px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  background-color: #578db3;
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 0.214em;
  font-family: "open sans", sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.submit-btn {
  color: white;
}

.cancel-btn {
  color: white;
}

.submit-btn:hover {
  background-color: rgb(105, 168, 213);
  transform: scale(1.1); /* Zoom in */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow */
}

.cancel-btn:hover {
  text-decoration: underline;
  transform: scale(1.1); /* Zoom in */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow */
}

.captcha {
  font-size: 12px;
  color: #595959;
  text-align: center;
  margin: 50px;
}

/* Newsletter Section */
.newsletter-section {
  text-align: center;
  padding: 40px;
  width: 800px;
  margin: 0 auto;
}

.newsletter-section h3 {
  font-family: "playfair display", serif;
  font-size: 32px;
  margin-bottom: 10px;
  letter-spacing: 0.031em;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 30px;
}

.newsletter-section p {
  font-size: 16px;
  color: rgb(94, 94, 94);
  margin-bottom: 30px;
  font-family: "open sans", sans-serif;
  font-weight: 400;
}

/* Newsletter Form */
.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-input {
  width: 100%;
  max-width: 600px;
  padding: 16px;
  font-size: 1.2rem;
  border: 1px solid transparent; /* No border initially */
  border-bottom: 1px solid #ccc; /* Thin Bottom Line initially */
  background-color: transparent;
  outline: none;
  transition: border 0.3s ease;
  flex-grow: 1; /* Allows the input to expand and fill available space */
}

/* Full box with black border on focus */
.newsletter-input:focus {
  border: 1px solid black; /* Full black border on focus */
  background-color: white;
}

.newsletter-input::placeholder {
  color: #888;
}

/* Newsletter Button */
.newsletter-btn {
  text-transform: uppercase;
  align-items: center;
  border-style: none;
  cursor: pointer;
  display: inline-flex;
  min-height: 56px;
  padding: 8px 32px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
  background-color: #578db3;
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 0.214em;
  font-family: "open sans", sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  white-space: nowrap; /* Prevents word breaking */
  width: 140px; /* Consistent width for the button */
}

.newsletter-btn:hover {
  background-color: rgb(105, 168, 213);
  transform: scale(1.1); /* Zoom in */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow */
}
footer {
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  position: relative;
}

.footer-nav {
  margin: 0 auto;
}

.footer-links {
  margin: 50px 0 0;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 40px; /* Space between links */
}

.footer-links li a {
  color: #578db3;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: #005bb5; /* Hover color */
}
.footer-info {
  margin-top: 20px;
}

.footer-info p {
  margin: 50px 0 0;
}
.deep {
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.996px;
  line-height: 18px;
}

.light {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.083em;
  color: rgb(89, 89, 89);
}


/*ABOUT PAGE */
.about-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 1200px; /* Adjust size of the circle */
  height: 1200px; /* Adjust size of the circle */
  border-radius: 50%; /* Makes the container circular */
  overflow: hidden; /* Ensures the image doesn't overflow the circle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}

/*Tech expert section*/

.tech-experts {

  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px; /* Add some padding */
}

/* Content wrapper for alignment */
.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Limit the width */
  width: 100%;
  gap: 40px;
}

/* Left content takes 65% of space */
.left-content {
  flex: 0 0 65%; /* Adjusts the width to 65% */
  padding: 20px;
}

.left-content h2 {
  font-size: 16px;
  margin-bottom: 20px;
  color: rgb(74, 123, 158);
  font-family: 'open sans', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.left-content p {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(94, 94, 94);
  line-height: 1.5;
  font-weight: 400;
}

/* Right content takes 35% of space */
.right-content {
  flex: 0 0 35%; /* Adjusts the width to 35% */
  background-color: #EEF4FB;
  padding: 32px;
  text-align: left;
  font-weight: 400;
}

.right-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  color:#5E5E5E;
}

/* General section styling */
.about-us {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box; 
  height: auto;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: auto; 
  max-width: 1200px; 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  flex: 1;
  padding: 40px 40px;
  background-color: rgb(238, 244, 251);
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  height: 100%;
  min-height: 673px;
}

.about-text h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  color: rgb(74, 123, 158);
  letter-spacing: 0.125em;
  line-height: 1.4;
}

.about-text h3 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #2d2d2d;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}


.about-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image img {
  width: 100%;
  min-height: 673px;
  object-fit: cover; 
  object-position: center; 
  margin: 0;
  padding: 0;
}
/* Team Page Design  */
.team-section {
  text-align: center;
  margin: 20px;
}

.team-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.team-box {
  color:#0078ff;
  background-color: rgb(238, 244, 251);
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #4a7b9e;
  letter-spacing: 0.125em;
  text-align: center;
  padding: 30px 0;
  font-weight: 600;

}
.team-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
  letter-spacing: 0.045em;
  font-weight: 400;
  padding: 15px 0;

}
.team-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.team-box p {
  font-size: 16px;
  margin-bottom: 15px;
  color:#5E5E5E;
  font-weight: 400;
  margin: 30px;
  text-align: left;
  line-height: 1.5;
}
.team-box a {
  margin-top: auto;
}
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
}

.contact-content {
  max-width: 600px;
  width: 100%;
}

.contact-content p {
  font-size: 18px;
  color: rgb(94, 94, 94);
  line-height: 1.5;
  letter-spacing: normal;
  margin-bottom: 20px;
  font-weight: 400;
}
.products-section {
  text-align: center;
  padding: 40px 30px;
  margin-top: auto;
  margin-bottom: 50px;
}

.products-title {
  font-size: 2.5em;
  margin-bottom: 30px;
  font-family:'Playfair Display', serif;
  font-weight: 400;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  flex: 1 1 30%;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.product-name {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.25;
  color: rgb(27,27,27);
  letter-spacing: 0.045em;
}
/* studies page */
.studies-section {
  padding: 50px 50px;
  align-self: flex-start;
}

.studies-content {
  max-width: 800px;
  margin: 0 auto;
}

.studies-content h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: left;
  color: #333;
  line-height: 1.25;
  letter-spacing: 0.031em;
  font-weight: 400;
}

.studies-content p {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: left;
  color: #555;
}
.wider img{
  width: 400px;
  height: 200px;
  border-radius: 0px;
  object-fit: cover;
}
/*PM magazine page*/
.pm-magazine {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.pm-magazine .content {
  text-align: center;
  max-width: 600px;
}

.pm-magazine h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  font-weight: 400;
}

.pm-magazine p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
  font-weight: 400;
}

.past-issues {
  padding: 50px 0;
}

.past-issues h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  color: rgb(74, 123, 158);
  letter-spacing: 0.125em;
  line-height: 1.4;
}
.past-issues p {
  color: rgb(89, 89, 89);
  padding: 20px 0;
}

.issues-container {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.issue-box {
  width: 360px;
  text-align: center;
  background-color: rgb(238, 244, 251);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.issue-image {
  width: 100%;
  height: 333px;
  object-fit: cover;
}

.issue-details {
  padding: 10px;
}

.issue-date {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}

.issue-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.grants-section {
  padding: 50px 0;
}

.grants-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.grants-image img {
  width: 592px;
  height: 394px;
  object-fit: cover;
  border-radius: 5px;
}

.grants-content {
  max-width: 500px;
}

.grants-content h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: left;
  color: #333;
  line-height: 1.25;
  letter-spacing: 0.031em;
  font-weight: 400;
}

.grants-content p {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: left;
  color: #555;
}

.grants-content a {
  color: #007bff;
  text-decoration: none;
}

.grants-content a:hover {
  text-decoration: underline;
}
.ethics-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  width: 100%; /* Full width of the page */
  max-width: 1400px; /* Adjust this value to match or exceed the Tech Expert section width */
  margin: 0 auto; /* Center the section */
}

.ethics-image-container {
  width: 100%;
}

.ethics-image-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.event-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event-item {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-item a {
  text-decoration: none;
  font-weight: bold;
  color: #2a76c6; /* Example link color */
  transition: color 0.3s ease;
}

.event-item a:hover {
  color: #1a4a7a; /* Darker shade on hover */
}

.event-item p {
  margin: 0;
  font-size: 1rem;
}

.event-item p::before {
  content: "• ";
  color: #2a76c6; /* Bullet color */
  font-weight: bold;
}
.left-content h2 {
  letter-spacing: 0.081em;
}
.symposium-section {
  padding: 40px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.symposium-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.pdf-download {
  padding: 40px 0;
}
.pdf-image img {
  max-width: 592px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.content-wrapper1 h2 {
  font-size: 18px;
  color: rgb(74, 123, 158);
  line-height: 1.5;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}
.als-section {
  background-color: rgb(238, 244, 251);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.als-section .alscontent-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.als-section h2 {
  font-size: 2rem;
  line-height: 1.5;
  color: rgb(27, 27, 27);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.045em;
}

.als-section h3 {
  font-size: 1.2rem;
  color: rgb(27, 27, 27);
  margin-top: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.als-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(94, 94, 94);
  margin-bottom: 20px;
}

.als-section ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

.als-section ul li {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(94, 94, 94);
  margin-bottom: 20px;
  padding: 5px 0;
}

.als-section ul ul {
  margin-top: 10px;
}

.als-section ul ul li {
  list-style-type: disc;
  margin-left: 20px;
}
/*depression page*/
.depression-section {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.content-wrapper {
  max-width: 1200px;
  width: 100%;
}

.text-content {
  padding: 20px;
}
.text-content h1 {
  padding: 20px 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 0.045em;
  line-height: 1.25;
  color: rgb(27, 27, 27);
}
.text-content h2 {
  font-size: 16px;
  margin-bottom: 20px;
  color: rgb(74, 123, 158);
  font-family: 'open sans', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
.text-content p {
  font-size: 16px;
  color: rgb(94, 94, 94);
  line-height: 1.5;
  font-weight: 400;
}
.text-content h4 {
  font-size: 16px;
  color: rgb(94, 94, 94);
  line-height: 1.5;
  font-weight: 700;
}
.float-image {
  float: left;
  margin: 0 20px 10px 0;
  width: 40%;
  max-width: 300px; /* Adjust as necessary */
  border-radius: 8px;
}
.rightfloat {
  float: right;
}
.alink {
  color: #578db3;
}
.content-quote-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px 0;
}

.content {
  flex: 2;
  margin-right: 20px; /* Space between the content and quote section */
}

.get-quote-section {
  flex: 1;
  background-color: #EEF4FB;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-content p {
  margin: 0 0 10px;
  font-size: 16px;
  color: rgb(94, 94, 94);
}

.quote-content h3 {
  font-size: 22px;
  margin-bottom: 24px;
  line-height: 1.25;
  letter-spacing: 0.045em;
  color: rgb(27, 27, 27);
  font-weight: 400;
} 

.text-content ul li strong{
  font-size: 16px;
  color: rgb(94, 94, 94);
  line-height: 1.5;
  font-weight: 700;
}

.text-content li {
  color: #5E5E5E;
  }

  .pdf-viewer-wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 0 60px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(74, 123, 158);
    letter-spacing: 0.125em;
    line-height: 1.5;
    text-transform: uppercase;
}

.pdf-viewer-container {
    width: 100%;
    background-color: #EEF4FB;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-link:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

#pdfIframe {
    width: 100%;
    height: 800px;
    border: none;
}

.meeting-section {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.meeting-title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
  color: rgb(74, 123, 158);
  line-height: 1.5;
  letter-spacing: 0.045em;
  text-transform: uppercase;
}

.meeting-subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #555;
  margin-bottom: 20px;
}

.meeting-image-wrapper {
  display: flex;
  justify-content: center;
}

.meeting-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.ethics-section {
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
  padding: 30px;
  background: #f1f1f1;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.ethics-title {
  font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(74, 123, 158);
    letter-spacing: 0.125em;
    line-height: 1.5;
    text-transform: uppercase;
}

.ethics-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #5E5E5E;

}

.email-link {
  color: #578db3;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.email-link:hover {
  color: #0056b3;
}
/* Responsive Mode */
@media (max-width: 768px) {
  .grants-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .grants-content {
    margin-left: 0;
    margin-top: 20px;
  }

  .grants-image img {
    max-width: 100%;
  }
  .text-content p {
  text-align: left;
  }
  .text-content li {
    text-align: left;
    }
  /* Hide "More"  link and directly show its dropdown items */
  .nav-item.dropdown > .nav-link {
    display: none;
  }
  .get-quote-section{
    margin: 0 20px;
  }

  /* Show dropdown items inline as normal items */
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: static;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  .dropdown-menu .dropdown-item {
    margin: 0;
    text-align: center;
  }

  .dropdown-menu .dropdown-item a {
    padding: 10px;
  }

  .nav-menu {
    width: 100%;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 70px;
    left: -100%;
    right: 0;
    padding: 20px 0;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
    text-decoration: underline;
  }

  .hamburger {
    display: flex;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hero-content {
    flex-direction: column; /* Stack the items vertically */
    text-align: center; /* Center the text */
  }
  .hero-text {
    padding: 0 10px 0;
  }

  .hero-text {
    order: 2; /* Ensures text comes after the image */
  }

  .hero-image {
    order: 1; /* Ensures image appears first */
  }

  .hero-image img {
    max-width: 100%;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    text-align: center;
  }

  .hero-image {
    margin-bottom: 20px;
  }
  .form-section {
    padding: 20px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 1rem;
    padding: 15px;
  }

  .cta-button, .submit-btn, .cancel-btn, .newsletter-btn {
    width: 100%; /* Take full width */
    font-size: 1rem; /* Reduce font size */
    padding: 12px 20px; /* Adjust padding for smaller screens */
  }

  /* Optionally reduce the margin to fit better on smaller screens */
  .cta-button, .submit-btn, .cancel-btn, .newsletter-btn {
    margin-top: 15px; /* Reduce margin */
  }
  .newsletter-section {
    padding: 20px; /* Reduce padding for smaller screens */
    max-width: 100%; /* Ensure it uses the full screen width */
    margin: 0 10px; /* Add margin for better spacing on small screens */
  }

  .newsletter-form {
    flex-direction: column; /* Stack input and button vertically */
    align-items: stretch; /* Ensure input and button are full-width */
  }

  .newsletter-input {
    width: 100%; /* Full width on small screens */
    margin-bottom: 10px; /* Adds space between input and button */
  }

  .newsletter-btn {
    white-space: normal; /* Allow button text to wrap */
    width: auto; /* Let the button adjust its size */
    align-self: center; /* Center button horizontally */
  }
  .footer-links {
    flex-direction: column;
    gap: 20px; /* Less space between links on smaller screens */
  }
  .content-wrapper {
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }

  .right-content {
    margin-top: 20px;
  }

  .left-content, .right-content {
    flex: 1 1 auto; /* Make both sides full-width on smaller screens */
  }
  .content-container {
    flex-direction: column-reverse; /* Image comes first */
    text-align: center;
  }

  .about-text, .about-image {
    width: 100%;
  }

  .about-image img {
    height: auto;
    max-height: 400px; /* Ensure image is not too tall in mobile */
  }
  .team-container {
    flex-direction: column;
  }

  .team-box {
    width: 100%;
  }
  .product-item {
    flex: 1 1 45%; /* Adjusts the width for tablet screens */
  }
  .studies-content h1 {
    font-size: 2rem;
  }
  
  .studies-content p {
    font-size: 1rem;
  }
  .wider img {
      max-width: 100%; /* Allow the image to scale down further on smaller screens */
      height: auto;
  }
  .issues-container {
    justify-content: center;
    padding: 30px;
  }
  .past-issues h2 {
    padding-left: 20px;
  }
  .past-issues p {
    padding-left: 20px;
  }
   .ethics-image-container {
    max-width: 100%;
    padding: 0 20px;
  }
  .symposium-section {
    padding: 20px;
  }

  .pdf-image img {
    width: 100%;
    height: auto;
  }
  .als-section {
    margin: 0 30px;
  }
  .float-image {
    float: none;
    display: block;
    margin: 10px auto;
    width: 100%; /* Ensure responsiveness */
  }
}
/* For screens 1024px and below */
@media (max-width: 1024px) {
  .image-container {
    width: 800px;
    height: 800px;
  }
}

/* For screens 768px and below */
@media (max-width: 768px) {
  .image-container {
    width: 600px;
    height: 600px;
  }
}

/* For screens 480px and below */
@media (max-width: 480px) {
  .image-container {
    width: 300px;
    height: 300px;
  }
  .product-item {
    flex: 1 1 100%; /* Full width for mobile screens */
  }
  .grants-section {
    padding: 10px;
  }



  .grants-image img {
    max-width: 100%;
  }
}