/* General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
}
li {
    list-style: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24em;
}
a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.nav-menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.nav-link {
    transition: 0.7s ease;
    text-decoration: none;
}
.nav-link.active {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: rgb(67, 118, 153)
}
.nav-link:hover {
    color: rgb(67, 118, 153);
}

/* Dropdown menu */
.dropdown {
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0%;
    right: 100%;
    list-style: none;
    padding: 10px 0;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.dropdown-menu .dropdown-item {
    padding: 10px 20px;
    text-align: left;
}
.dropdown-menu .dropdown-item a {
    color: black;
    display: block;
    transition: color 0.3s ease;
}
.dropdown-menu .dropdown-item a:hover {
    color: rgb(67, 118, 153);
    
}
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    margin: 3px;
    background-color: black;
    transition: 0.3s ease-in-out;
}

/* Responsive Mode */
@media (max-width: 768px) {
    /* Hide "More" link and directly show its dropdown items */
    .nav-item.dropdown > .nav-link {
        display: none;
    }

    /* Show dropdown items inline as normal items */
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        position: static;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }

    .dropdown-menu .dropdown-item {
        margin: 0;
    }

    .dropdown-menu .dropdown-item a {
        padding: 10px;
    }

    .nav-menu {
        width: 100%;
        flex-direction: column;
        background-color: white;
        position: fixed;
        top: 70px;
        left: -100%;
        right: 0;
        padding: 20px 0;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
        text-decoration: underline;
    }
   
    .hamburger {
        display: flex;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
